<p id="notice"><%= notice %></p>
<div class="header">
  <div class="container">
    <h1 class="bootcamp-name"><%= @program.name %></h1>
    <h2 class="bootcamp-tagline">Here Goes My Awesome Tagline</h2>
  </div>
</div>

<div class="container">
  <p>
    <strong>name:</strong> <%= @program.name %> <br>
    <strong>coding_bootcamp_id:</strong> <%= @program.coding_bootcamp_id %> <br>
    <strong>focus:</strong> <%= raw @program.language_list.map { |l| link_to l, language_path(l) }.join(', ') %>
    <strong>location:</strong> <%= raw @program.location_list.map { |l| link_to l, location_path(l) }.join(', ') %>
    <strong>type:</strong> <%= raw @program.type_list.map { |t| link_to t, type_path(t) }.join(', ') %>
  </p>

  <%= link_to 'Back', coding_bootcamps_path %>
</div>