<%= form_for(@coding_bootcamp) do |f| %>
  <% if @coding_bootcamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coding_bootcamp.errors.count, "error") %> prohibited this coding_bootcamp from being saved:</h2>

      <ul>
      <% @coding_bootcamp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
