<p id="notice"><%= notice %></p>
<div class="bootcamp">
  <div class="header">
    <div class="large-container">
      <h1 class="bootcamp-name-top"><%= link_to(@coding_bootcamp.name, @coding_bootcamp.website, target: "blank") %></h1>
      <h2 class="bootcamp-tagline"><%= @coding_bootcamp.tagline %></h2>

      <div class="bootcamp-tags row">
        <% if @programs.length > 0 %>
          <div class="col-md-4 col-md-offset-3">
            <h2>Learn</h2>
            <%= raw @program_languages.map { |l| link_to l.titleize , language_path(l) }.join(', ') %>
          </div>

          <div class="col-md-2">
            <h2>Location</h2>
            <%= raw @program_locations.map { |l| link_to l.titleize, location_path(l) }.join(', ') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="bootcamp-description">
      <%= link_to image_tag('bootcamps_logo/' + @coding_bootcamp.name.downcase.gsub(' ', '')+'.png', class: 'pull-right bootcamp-logo-top'), @coding_bootcamp.website + @utm_logo, target: "blank" %>
      <h2>About <%= @coding_bootcamp.name %></h2>
      <%= raw @coding_bootcamp.description %>
      <p><%= link_to @coding_bootcamp.website, @coding_bootcamp.website + @utm_url, target: "blank" %></p>
      <p><%= mail_to @coding_bootcamp.email, @coding_bootcamp.email, subject: "Hi, I found you on BootcampSearch" %></p>
    </div>

    <% if @programs.length > 0 %>
      <div class="bootcamp-program">
        <h2>What you can learn at <%= @coding_bootcamp.name %></h2>
        <% @programs.each do |program| %>
          <div class="row">
            <div class="col-md-8 program">
              <h3><strong><%= program.name %></strong> (<%= program.cost %>)</h3>
              <strong><%= program.length %></strong>: <%= raw program.location_list.map { |l| link_to l.titleize, location_path(l) }.join(', ') %>

              <div class="bootcamp-languages-top">
                <strong>You'll learn</strong>: 
                <%= raw program.language_list.map { |l| link_to l.titleize , language_path(l) }.join(', ') %><br>
              </div>
              <%= program.description %> <br>
              <br><strong>Why we love it</strong><br>
              <%= program.why_we_love %> <br>
            </div>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    <% end %>

    <div class="related-bootcamps row">
      <% if @similar_bootcamps.length > 0 %>
        <h2>Related bootcamps</h2>
      <% end %>
      
      <% @similar_bootcamps.each do |coding_bootcamp| %>
          <ul>
            <%= link_to coding_bootcamp do %>
              <li class="col-md-3 col-sm-4 col-xs-12">
                <div class="logo-section">
                  <%= image_tag('bootcamps_logo/' + coding_bootcamp.name.downcase.gsub(' ', '')+'.png', class: 'bootcamp-logo') %>
                </div>
                <div class="bootcamp-name">
                  <%= coding_bootcamp.name %>
                </div>
                <div class="bootcamp-languages">
                  <%= coding_bootcamp.programs.map(&:language_list).flatten.uniq.join(', ').titleize %>
                </div>
                <div class="bootcamp-locations">
                  <%= coding_bootcamp.programs.map(&:location_list).flatten.uniq.join(', ').titleize %>
                </div>
              </li>
            <% end %>      
          </ul>
        <% end %>
    </div>

    <%= link_to '« Back', coding_bootcamps_path, class:"btn btn-default" %>
  </div>
</div>
