<p id="notice"><%= notice %></p>
<div class="header">
  <div class="container">
    <h1 class="bootcamp-name"><%= link_to(@coding_bootcamp.name, @coding_bootcamp.website, target: "blank") %></h1>
    <h2 class="bootcamp-tagline"><%= @coding_bootcamp.tagline %></h2>

    <!-- <div class="bootcamp-logo">
      image_tag('bootcamps_logo/' + @bootcamp_path + '-logo.png')
    </div> -->

    <div class="bootcamp-tags row">
      <% if @programs.length > 0 %>
        <div class="bootcamp-tag col-md-2 col-md-offset-3">
          <span class="icon-list icon-large"></span>
          <%= raw @program_languages.map { |l| link_to l.titleize , language_path(l) }.join(', ') %>
        </div>

        <div class="bootcamp-tag col-md-2">
          <span class="icon-earth icon-large"></span>
          <%= raw @program_locations.map { |l| link_to l.titleize, language_path(l) }.join(', ') %>
        </div>

        <div class="bootcamp-tag col-md-2">
          <span class="icon-users icon-large"></span>
          <%= raw @program_type.map { |l| link_to l.titleize, language_path(l) }.join(', ') %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="bootcamp-description"><%= raw @coding_bootcamp.description %></div>

  <% if @programs.length > 0 %>
    <% @programs.each do |program| %>
      <div class="bootcamp-program">
        <p>
          <strong>name:</strong> <%= program.name %> <br>
          <strong>coding_bootcamp_id:</strong> <%= program.coding_bootcamp_id %> <br>
          <strong>focus:</strong> <%= raw program.language_list.map { |l| link_to l, language_path(l) }.join(', ') %>
          <strong>location:</strong> <%= raw program.location_list.map { |l| link_to l, location_path(l) }.join(', ') %>
          <strong>type:</strong> <%= raw program.type_list.map { |t| link_to t, type_path(t) }.join(', ') %>
        </p>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'Back', coding_bootcamps_path %>

</div>