<p id="notice"><%= notice %></p>
<div class="header">
  <div class="container">
    <h1 class="bootcamp-name"><%= @coding_bootcamp.name %></h1>
    <h2 class="bootcamp-tagline">Here Goes My Awesome Tagline</h2>
  </div>
</div>

<div class="container">
  <p>
    <strong>name:</strong> <%= @coding_bootcamp.name %> <br>
    <strong>website:</strong> <%= @coding_bootcamp.website %> <br>
    <strong>description:</strong> <%= @coding_bootcamp.description %>
  </p>

  <%= link_to 'Back', coding_bootcamps_path %>
</div>