<div class="home">
  <div class="container">
    <div class="header">
      <h1>Find the perfect programming bootcamp <span class="icon-search"></span></h1>
      <%= link_to "Find My Bootcamp »", coding_bootcamps_path, class:"find-bootcamp-btn" %>
    </div>

    <div class="row">
      <div class="benefits">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <%= image_tag("icon-mountain.png", class: "pull-left") %>
            <h3>What's a Bootcamp?</h3>
            <p>Programming bootcamps (bootcamps for short) are intensive and semi-intensive programs that help you learn how to develop websites and mobile apps.</p>
          </div>

          <div class="col-md-6 col-sm-6">
            <%= image_tag("icon-flag.png", class: "pull-left") %>
            <h3>Find the right bootcamp</h3>
            <p>BootcampSearch helps you choose the right bootcamp given your needs, time available, budget and goals.</p>
          </div>     
          <div class="clearfix"></div>     
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <%= image_tag("icon-rocket.png", class: "pull-left") %>
            <h3>Gain the skill you want</h3>
            <p>With so many options and so many different programming languages to choose from, it's easy to feel lost. Discover which bootcamp fits your goals.</p>
          </div>

          <div class="col-md-6 col-sm-6">
            <%= image_tag("icon-piggy.png", class: "pull-left") %>
            <h3>Stay within your budget</h3>
            <p>Some programs are free, others cost over $12,000. Price is only one of the many aspects to conside; get the info you need to find the bootcamp that's right for you.</p>
          </div>     
          <div class="clearfix"></div>     
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <%= image_tag("icon-clock.png", class: "pull-left") %>
            <h3>Commit the time you can</h3>
            <p>From online to in-person bootcamps, from part-time to full-time ones, we've got everything you need to find the perfect fit.</p>
          </div>

          <div class="col-md-6 col-sm-6">
            <%= image_tag("icon-r2d2.png", class: "pull-left") %>
            <h3>Meet other nerds</h3>
            <p>Joining a bootcamp gives you the opportunity to connect with other like-minded individuals. It's a great way to expand your network as you perfect your craft.</p>
          </div>     
          <div class="clearfix"></div>     
        </div>
      </div>
    </div>
    <%= link_to "Find My Bootcamp »", coding_bootcamps_path, class:"find-bootcamp-btn" %>
  </div>
</div>
