<div class="home">
  <h1>Find the perfect programming bootcamp</h1>
  <%= link_to "Find My Bootcamp »", coding_bootcamps_path, class:"btn btn-lg btn-success" %>

  <div class="benefits">
    <div class="benefit-1">
      <%= image_tag("tactics.png") %>
      <span>Find the RIGHT bootcamp</span>
    </div>

    <div class="benefit-2">
      <span>Gain the SKILLS you want</span>
      <%= image_tag("rocket.png") %>
    </div>

    <div class="benefit-3">
      <%= image_tag("piggy.png") %>
      <span>Stay within your BUDGET</span>
    </div>

    <div class="benefit-4">
      <span>Commit the TIME you can</span>
      <%= image_tag("clock.png") %>
    </div>

    <div class="benefit-5">
      <%= image_tag("r2d2.png") %>
      <span>Connect with other NERDS</span>
    </div>

  </div>
  <%= image_tag("pacman.gif") %>
</div>
