<div class="home">
  <div class="container">
    <div class="header">
      <h1>Find the perfect programming bootcamp</h1>
      <%= link_to "Find My Bootcamp »", coding_bootcamps_path, class:"btn btn-lg btn-success" %>
    </div>

    <div class="row">
      <div class="what-is col-md-6">
        <h2>What's a bootcamp anyway?</h2>
        <p>Programming bootcamps (bootcamps for short) are intensive and semi-intensive programs to help you learn how to develop websites and mobile apps. Some bootcamps are online, others are in person. Some only require part-time commitments while others are only for full-time goers.</p>
        <p>Finding the right bootcamp can be as tricky as finding the right university. With so many options and so many different programming languages to choose from it's easy to feel lost.</p>
        <p>That's why we're here! Our goal is to help you choose the right bootcamp given your needs, time available, budget and goals.</p>
      </div>

      <div class="benefits col-md-6">
        <div class="benefit-1">
          <%= image_tag("tactics.png") %>
          <span>Find the RIGHT bootcamp</span>
        </div>

        <div class="benefit-2">
          <%= image_tag("rocket.png") %>
          <span>Gain the SKILLS you want</span>
        </div>

        <div class="benefit-3">
          <%= image_tag("piggy.png") %>
          <span>Stay within your BUDGET</span>
        </div>

        <div class="benefit-4">
          <%= image_tag("clock.png") %>
          <span>Commit the TIME you can</span>
        </div>

        <div class="benefit-5">
          <%= image_tag("r2d2.png") %>
          <span>Connect with other NERDS</span>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <%= link_to "Find My Bootcamp »", coding_bootcamps_path, class:"btn btn-lg btn-success" %>
    <%= image_tag("pacman.gif") %>
  </div>
</div>
